ApiAiSDK/bin
*.meta
ApiAiSDK.Unity/bin
native/Android/UnityHelper/.gradle
native/Android/UnityHelper/app/build
local.properties
native/Android/UnityHelper/.idea
*.iml
native/Android/UnityHelper/build
*.userprefs
